.login{
    .container{
    width: 1200px;  
    margin: 0 auto;
    }
    //顶部排版
    .top {
        border-bottom: 2px solid #f2f0f5;
        .logo-wrap {
            overflow: hidden;
            background-color: #fff;
            .logo {
                background-color: red;
                display: block;
                width: 334px;
                height: 34px;
                margin-top: 11px;
                //background: url('') no-repeat;
                background-size:100% 100% 
            }
        }
    }

}